@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;900&display=swap');
/*ZEROING*/
body,html{
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
 }
 *,
 *::before,
 *::after{
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
 }

 body{
   font-size: 16px;
   width: 100%;
   color: #fff;
   font-family: 'Source Sans Pro';

}

/*HEADER*/
.header{
   background: #1A1A1A;
   width: 100%;
   padding: 30px 11.5%;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .menu__list{
    font-size: 16px;
    list-style: none;
    display: flex;
    width: 450px;
    justify-content: space-between;
    font-weight: 600
 }
 .menu__list a{
    text-decoration: none;
    color: #fff;
 }
 .menu__list a:hover{
    color: #34C759;
    cursor: pointer;
 }
 .line-bottom{
    width: 100%;
    height: 2px;
    background: #313131;
 } 
 .logo{
    display: block;
    background-image: url(../img/logo.svg);
    width: 93px;
    height: 24px;
    background-size: cover;
    background-position: 50%;
 }

@media (max-width:770px) {
   /*MENU-BURGER*/
   .menu-burger{
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      z-index: 3;
  

      cursor: pointer;
   }
     .menu-burger span{
          position: absolute;
          background-color: #fff;
          width: 100%;
          height: 2px;
          top: 8px;
          left: 0;
          margin: 0;
          transition: all 0.3s ease 0s;
     }
     .menu-burger:before,
     .menu-burger:after{
          content: '';
          background-color: #fff;
          height: 2px;
          width: 100%;
          position: absolute;
          left: 0;
          transition: all 0.3s ease 0s;
       }
     .menu-burger:before{
          top:0;
       }
     .menu-burger:after{
       bottom: 0;
     }
   
     .menu{
          overflow: auto;
          z-index: 1;
          position: fixed;
    
          height: 100%;
          width: 100%;
          left: 100%;
          top: 0;
          background-color:#26292D;
          margin: 0 0 0 0;
          
          transition: all 1s ease 0s;
       }
     .menu__list{
          display: block;
          width: 80%;
          margin: 10px auto 0 auto;
    
          font-family: Arial, Helvetica, sans-serif;
          font-size: 23px;
          line-height: 50px;
       }
     .menu li{
          margin: 0;
       }
     .menu-burger:hover{
          transform: rotate(45deg);
          top: 9px;
       }
     .menu-burger.active:after{
          transform: rotate(-45deg);
          bottom: 7px;
       }
     .menu-burger.active span{
          transform:scale(0);
       }
     .menu.active{
          left: 0;
       }
     body.lock{
          overflow: hidden;
       }
    }
   
    @media (max-width:550px){
      .header{
         padding: 30px 20px;
      }
   }